* {
    padding: 0;
    margin: 0;
}

body {
    height: 1600px;
    -webkit-animation: glow linear 5s infinite; 
    animation: glow linear 5s infinite;
}

@-webkit-keyframes glow { 
    0% { background-color:red; }
    50% { background-color:orange; }
    100% { background-color:red; } 

} 
@keyframes glow { 
    0% { background-color:red; }
    50% { background-color:orange; }
    100% { background-color:red; } 
}

p {
    font-size: 1.2rem;
}

.main_heading{
    text-align: center;
    margin-top: 0;
    position: relative;
    background: black;
}

.main_heading > h1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
}

.main_heading > a {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 2rem;
    color: #fff;
    padding: 5px;
}

.main_heading > a:hover {
    color: yellow;
}

.main_content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.our_story {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #1687a7;
}
.howWeStarted{
    margin-top: 35px;
    text-decoration: underline;
    font-size: 1.5rem;
    color: #1687a7;
    margin-bottom: 20px;
}

.main_content-catalogue-link {
    color: #1687a7;
    font-size: 1.5rem;
    background: black;
    padding: 5px;
}

.main_content-catalogue-link:hover{
    color: black;
    background: #fff;
}

.container{
    display: flex;
    width: 75%;
    margin-top: 20px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    text-align: center;
}

/* Added padding to the images in the container div */
.container > div > img {
    width: 310px;
    height: 310px;
    border-radius: 10%;
    object-fit: cover;
    margin-top: 15px;
    padding: 10px;
}

.container > div > h5 {
    color: #1687a7;
    font-size: 1rem;
}

.testimonialHeading {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2rem;
}

#testimonials {
    display: flex;
    width: 100%;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-between;
}

.testimonial-box {
    width: 300px;
    height: 430px;
    border: solid purple;
    border-radius: 10%;
    background: #fff;
}

/* Added padding round the images in the testimonial section */
.testimonial-box > img {
    width: 270px;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 10px;
}

.box1 {
    width: 100%;
    height: 140px;
}

.box1, .box3 > p {
    margin-top: 30px;
}

.testimonialNameOne {
    margin-top: 25px;
    font-size: 0.9rem;
}

.testimonialNameTwo {
    margin-top: 12px;
    font-size: 0.9rem;
}

.testimonialNameThree {
    margin-top: 25px;
    font-size: 0.9rem;
}

/* .grid-container{
    width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, 300px);
    grid-gap: 1rem;
    text-align: center;
}

.grid-container > div {
    background: yellow;
}

.grid-container > div > img {
    width: 325px;
    height: 300px;
    object-fit: cover;
} */

